Hello {{ name }},

I hope this finds you well. I am an investor in the Wichita area interested in buying your home at {{ address }} for a fair, all cash price. 
We can offer fast closing and absolutely no repairs or showings are necessary. Would you want your money quickly? I would love to speak with you. Call or text back for a no obligation chat. 

Have a great day!
